* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;
  background-image: url("./assets/favicon-32x32.png");
  background-size: contain;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem;
}

@media only screen and (min-width: 200px) and (max-width: 560px) {
  .container {
    flex-direction: column;
    padding: 0;
    height: fit-content;
  }
}
@media only screen and (min-width: 560px) and (max-width: 960px) {
  .container {
    flex-direction: column;
    padding: 0;
    height: fit-content;
  }
}

.form-wrap {
  background-color: hsl(0, 100%, 74%) !important;
  background-image: url("./assets/bg-intro-desktop.png");
  width: 100%;
  height: fit-content;
}

.form-bg-wrap {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}
@media only screen and (min-width: 200px) and (max-width: 560px) {
  .form-bg-wrap {
    /* padding: 1rem; */
    flex-direction: column;
    padding: 0;
  }
}

@media only screen and (min-width: 560px) and (max-width: 960px) {
  .form-bg-wrap {
    padding: 0;
  }
}

.form-typography {
  width: 50%;
  padding: 2rem;
}
@media only screen and (min-width: 200px) and (max-width: 560px) {
  .form-typography {
    width: 100%;
  }
}

.form-typography h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
  text-align: center;
  margin-bottom: 1.5rem;
}

.form-typography p {
  font-size: 16px;
  color: white;
  line-height: 1.5;
  font-family: "poppins", sans-serif;
}
@media screen and (min-width: 200px) and (max-width: 560px) {
  .form-typography p {
    font-size: 14px;
    text-align: center;
  }
}

.form-field-wrap {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

@media only screen and (min-width: 200px) and (max-width: 560px) {
  .form-field-wrap {
    width: 100%;
    flex-direction: column;
  }
}

.form-top-typography {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
  background-color: hsl(248, 32%, 49%);
  padding: 16px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  color: white;
  font-family: "poppins", sans-serif;

  font-weight: 700;
}
@media only screen and (min-width: 200px) and (max-width: 560px) {
  .form-top-typography {
    /* padding: 1rem; */
    flex-direction: column;
    text-align: center;
  }
}

.form-top-typography span {
  font-size: 16x;
  font-weight: 100;
  color: hsl(246, 25%, 77%);
}

.form-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  padding: 2rem;
}
@media only screen and (min-width: 200px) and (max-width: 560px) {
  .form-body {
    padding: 1rem;
    flex-direction: column;
  }
}

.form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1rem;
}
@media only screen and (min-width: 200px) and (max-width: 560px) {
  .form-group {
    padding: 1rem;
    flex-direction: column;
  }
}

.form-group.error-message input {
  outline: none;
  border-color: hsl(0, 100%, 74%) !important;
  background-image: url("./assets/icon-error.svg");
  background-size: 20px;
  background-position: 90%;
  background-repeat: no-repeat;
}

.form-group.success input {
  outline: none;
  border-color: hsl(154, 59%, 51%) !important;
}

.form-control {
  width: 100%;
  height: 3rem;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border: 1px solid hsl(0, 0%, 74%);
  padding: 0 1rem;
}
.form-control::placeholder {
  color: hsl(0, 0%, 74%);
  padding-left: 1rem;
  font-size: 16px;
}

.form-control:focus {
  /* outline: none; */
  outline: 1px solid hsl(248, 32%, 49%);
  padding-left: 10px;
}

.error-message {
  color: hsl(0, 100%, 74%);
  font-family: "poppins", sans-serif;
  text-align: right;
  font-size: 12px;
}

.btn-primary {
  width: 100%;
  height: 3rem;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  background-color: hsl(154, 59%, 51%);
  color: white;
  font-family: "poppins", sans-serif;
  font-weight: 700;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-bottom: 16px;
  text-transform: uppercase;
}

.agreement {
  width: 100%;
}

.agreement p {
  font-size: 12px;
  color: hsl(0, 0%, 74%);
  line-height: 1.5;
  font-family: "poppins", sans-serif;
}
@media only screen and (min-width: 200px) and (max-width: 560px) {
  .agreement p {
    font-size: 10px;
    text-align: center;
  }
}

.terms {
  font-size: 14px;
  color: hsl(0, 100%, 74%);
  font-weight: 500;
}
